<ul>
  <li><%= link_to 'Home', '/' %></li>
</ul>

<main>
    <h1>Литвинов Александр</h1>
    <h2>Учу Rails</h2>
    <hr>
    <section>
        <h2>Ключевые навыки:</h2>
        <ul>
            <li>Могу сгенерировать контроллер</li>
            <li>Могу удалить контроллер</li>
            <li>Могу прописать роут</li>
        </ul>
    </section>
    <section>
        <h2>О Обо мне</h2>
        <p>¯\_(ツ)_/¯</p>
    </section>
</main>
